@model EntityLayer.Concrete.Admin
@{
    ViewBag.Title = "AddAdmin";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>yeni admin ekleme sayfası</h1>
<br />

@using (Html.BeginForm("AddAdmin", "Authorization", FormMethod.Post)) //başlangıc formu nerede ne zaman işlem gerceklestirileceğini tutacak
{
    <div class="form-group">
        @Html.Label("Admin kullanıcı adı")
        @Html.TextBoxFor(x => x.AdminUserName, new { @class = "form-control" })
        <br /> 
        @Html.Label("şifreyi giriniz")
        @Html.TextBoxFor(x => x.AdminPassword, new { @class = "form-control" })
        <br /> 
        @Html.Label("rolü seçiniz")
        @Html.TextBoxFor(x => x.AdminRole, new { @class = "form-control" })
        <br /> 
        <button class="btn btn-info">kaydet</button>
    </div>
}

